/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #0f172a;
    color: white;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #111827;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0px;
    font-size: 28px;
    font-weight: bold;
    color: #38bdf8;
}

.logo img{
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 50%;
    mix-blend-mode: screen;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #38bdf8;
}

.menu-btn{
    display: none;
    font-size: 25px;
    cursor: pointer;
}